---
apiVersion: v1
kind: Secret
metadata:
  name: model-configuration-secret
  namespace: {{ namespace }}
data:
  username: 'dXNlcm5hbWU='
  model_url: 'aHR0cDovL215LWFpLWluc3RhbmNlLw=='
  model_api_key: 'bXktYWktYXBpLWtleQ=='
  model_id: 'dXBkYXRlZF9fbXktYWktbW9kZWxfbmFtZQ=='
type: Opaque
