# AnsibleAIConnect's Chatbot ConfigMap.
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: '{{ ansible_operator_meta.name }}-{{ deployment_type }}-chatbot-env-properties'
  namespace: '{{ ansible_operator_meta.namespace }}'
  labels:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2") | indent(width=4) | trim }}
  annotations:
    checksum-secret-chatbot_config: "{{ lookup('ansible.builtin.vars', 'chatbot_config', default='')["resources"][0]["data"] | default('') | sha1 }}"
data:
  aapconfig.yaml: |
    llm_providers:
      - name: default_provider
        type: {{ chatbot_llm_provider_type | default('rhoai_vllm') }}
        url: {{ chatbot_url }}
        credentials_path: /app-root/keys1/chatbot-token.txt
        models:
          - name: {{ chatbot_model }}
            context_window_size: {{ chatbot_context_window_size | default(128000) }}
{% if chatbot_include_fake_llms %}
      - name: fake_llm
        type: fake_provider
        models:
          - name: fake_model
      - name: fake_streaming_llm
        type: fake_provider
        models:
          - name: fake_model
        fake_provider_config:
          url: http://example.com/
          stream: true
          response: Hello
          chunks: {{ chatbot_fake_streaming_chunks | default(50) }}
          sleep: {{ chatbot_fake_streaming_sleep | default(0.2) }}
{% endif %}
    ols_config:
{% if is_openshift %}
      extra_ca:
        - "/var/run/secrets/kubernetes.io/serviceaccount/service-ca.crt"
{% endif %}
      reference_content:
        product_docs_index_path: "./vector_db/aap_product_docs/2.5"
        product_docs_index_id: aap-product-docs-2_5
        embeddings_model_path: "./embeddings_model"
      conversation_cache:
        type: memory
        memory:
          max_entries: 1000
      logging_config:
        app_log_level: info
        lib_log_level: warning
        uvicorn_log_level: info
        suppress_metrics_in_log: true
        suppress_auth_checks_warning_in_log: true
      default_provider: default_provider
      default_model: {{ chatbot_model }}
      expire_llm_is_ready_persistent_state: 300
      enable_event_stream_format: true
      query_validation_method: disabled
      user_data_collection:
        feedback_disabled: false
        feedback_storage: "/tmp/data/feedback"
        transcripts_disabled: false
        transcripts_storage: "/tmp/data/transcripts"
    dev_config:
      # config options specific to dev environment - launching OLS in local
      enable_dev_ui: false
      disable_auth: true
      disable_tls: true
  # Custom user variables
{% for item in extra_settings | default([]) %}
  {{ item.setting | upper }}: "{{ item.value }}"
{% endfor %}
