---
apiVersion: v1
kind: Service
metadata:
  name: "{{ ansible_operator_meta.name }}-chatbot-api"
  namespace: "{{ ansible_operator_meta.namespace }}"
  labels:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2")  | indent(width=4) | trim }}
    app.kubernetes.io/component: '{{ deployment_type }}-chatbot-api'
{% if service_annotations %}
  annotations:
    {{ service_annotations | indent(width=4) }}
{% endif %}
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
    name: http
  clusterIP: None
  selector:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2")  | indent(width=4) | trim }}
    app.kubernetes.io/component: '{{ deployment_type }}-chatbot-api'
