apiVersion: aiconnect.ansible.com/v1alpha1
kind: AnsibleAIConnect
metadata:
  labels:
    app.kubernetes.io/name: ansibleaiconnect
    app.kubernetes.io/instance: ansibleaiconnect-sample
    app.kubernetes.io/part-of: ansible-ai-connect-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: ansible-ai-connect-operator
  name: ansibleaiconnect-sample
spec:
  no_log: false
  ingress_type: Ingress
  service_type: NodePort
  image_pull_secrets:
    - regcred
  auth:
    aap_api_url: 'my-aap-api-url'
    social_auth_aap_key: 'my-aap-key'
    social_auth_aap_secret: 'my-aap-secret'
  wca:
    username: 'username'
    inference_url: 'http://my-wca-instance/'
    model_mesh_api_key: 'my-wca-api-key'
    model_mesh_model_name: 'my-wca-model_name'
  database:
    postgres_storage_class: standard
