apiVersion: aiconnect.ansible.com/v1alpha1
kind: AnsibleAIConnect
metadata:
  labels:
    app.kubernetes.io/name: ansibleaiconnect
    app.kubernetes.io/instance: ansibleaiconnect-sample
    app.kubernetes.io/part-of: ansible-ai-connect-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: ansible-ai-connect-operator
  name: ansibleaiconnect-sample
spec:
  no_log: false
  ingress_type: Ingress
  service_type: NodePort
  image_pull_secrets:
    - redhat-operators-pull-secret
{% if wisdom_service_image %}
  image: {{ wisdom_service_image }}
{% endif %}
{% if wisdom_service_version %}
  image_version: {{ wisdom_service_version }}
{% endif %}
  auth:
    aap_api_url: 'my-aap-api-url'
    social_auth_aap_key: 'my-aap-key'
    social_auth_aap_secret: 'my-aap-secret'
  ai:
    username: 'username'
    inference_url: 'http://my-ai-instance/'
    model_mesh_api_key: 'my-ai-api-key'
    model_mesh_model_name: 'my-ai-model_name'
  api:
    resource_requirements:
      requests:
        cpu: 100m
        memory: 200Mi
  database:
    postgres_storage_class: standard
    resource_requirements:
      requests:
        cpu: 50m
        memory: 100Mi
