---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ ansible_operator_meta.name }}-model-pipeline-configuration'
  namespace: '{{ ansible_operator_meta.namespace }}'
  labels:
    app.kubernetes.io/name: '{{ ansible_operator_meta.name }}'
    app.kubernetes.io/part-of: '{{ ansible_operator_meta.name }}'
    app.kubernetes.io/managed-by: '{{ deployment_type }}-operator'
    app.kubernetes.io/component: '{{ deployment_type }}'
    app.kubernetes.io/operator-version: '{{ lookup("env", "OPERATOR_VERSION") }}'
stringData:
  config: |
{% if chatbot_config is defined %}
    ModelPipelineChatBot:
      config:
{% if not is_openshift %}
        inference_url: 'http://{{ ansible_operator_meta.name }}-chatbot-api.{{ ansible_operator_meta.namespace }}:8080'
{% endif %}
{% if is_openshift %}
        inference_url: 'http://{{ ansible_operator_meta.name }}-chatbot-api.{{ ansible_operator_meta.namespace }}.svc.cluster.local:8080'
{% endif %}
        model_id: '{{ chatbot_model }}'
        enable_health_check: 'True'
      provider: 'http'
{% endif %}
    ModelPipelineCompletions:
      config:
        inference_url: '{{ model_url }}'
        api_key: '{{ model_api_key }}'
        model_id: '{{ model_id }}'
        timeout: 15
        enable_health_check: 'True'
        health_check_api_key: '{{ model_api_key }}'
        health_check_model_id: '{{ model_id }}'
{% if model_type == "wca" and model_idp_url is defined %}
        idp_url: '{{ model_idp_url }}'
{% endif %}
{% if model_type == "wca-onprem" %}
        username: '{{ model_username }}'
{% endif %}
      provider: '{{ model_type }}'
    ModelPipelineContentMatch:
      config:
        inference_url: '{{ model_url }}'
        api_key: '{{ model_api_key }}'
        model_id: '{{ model_id }}'
        timeout: 15
        enable_health_check: 'True'
        health_check_api_key: '{{ model_api_key }}'
        health_check_model_id: '{{ model_id }}'
{% if model_type == "wca" and model_idp_url is defined %}
        idp_url: '{{ model_idp_url }}'
{% endif %}
{% if model_type == "wca-onprem" %}
        username: '{{ model_username }}'
{% endif %}
      provider: '{{ model_type }}'
    ModelPipelinePlaybookGeneration:
      config:
        inference_url: '{{ model_url }}'
        api_key: '{{ model_api_key }}'
        model_id: '{{ model_id }}'
        timeout: 15
        enable_health_check: 'True'
        health_check_api_key: '{{ model_api_key }}'
        health_check_model_id: '{{ model_id }}'
{% if model_type == "wca" and model_idp_url is defined %}
        idp_url: '{{ model_idp_url }}'
{% endif %}
{% if model_type == "wca-onprem" %}
        username: '{{ model_username }}'
{% endif %}
      provider: '{{ model_type }}'
    ModelPipelinePlaybookExplanation:
      config:
        inference_url: '{{ model_url }}'
        api_key: '{{ model_api_key }}'
        model_id: '{{ model_id }}'
        timeout: 15
        enable_health_check: 'True'
        health_check_api_key: '{{ model_api_key }}'
        health_check_model_id: '{{ model_id }}'
{% if model_type == "wca" and model_idp_url is defined %}
        idp_url: '{{ model_idp_url }}'
{% endif %}
{% if model_type == "wca-onprem" %}
        username: '{{ model_username }}'
{% endif %}
      provider: '{{ model_type }}'
