# AnsibleAIConnect ConfigMap.
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: '{{ ansible_operator_meta.name }}-{{ deployment_type }}-env-properties'
  namespace: '{{ ansible_operator_meta.namespace }}'
  labels:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2") | indent(width=4) | trim }}
data:
  # Specific settings for "on prem"
  COMMERCIAL_DOCUMENTATION_URL: "https://access.redhat.com/documentation/en-us/red_hat_ansible_lightspeed_with_ibm_watsonx_code_assistant/2.x_latest/html/red_hat_ansible_lightspeed_with_ibm_watsonx_code_assistant_user_guide/index"
  ENABLE_ADDITIONAL_CONTEXT: "true"
  ENABLE_ANSIBLE_LINT_POSTPROCESS: "true"
  ANSIBLE_AI_ENABLE_TECH_PREVIEW: "false"
  ALLOW_METRICS_FOR_ANONYMOUS_USERS: "false"
  DEPLOYMENT_MODE: "onprem"

  # AI specific settings
  ANSIBLE_AI_MODEL_MESH_API_TIMEOUT: "15"
  HUGGINGFACE_HUB_CACHE: /var/www/model-cache
  SENTENCE_TRANSFORMERS_HOME: /var/www/model-cache
  XDG_CACHE_HOME: /tmp

  # Remove 'deployed_region' from the /status/check endpoint
  # See https://issues.redhat.com/browse/AAP-21787
  DEPLOYED_REGION: ""

  # Always disabled for "on prem"
  ENABLE_HEALTHCHECK_ATTRIBUTION: "false"
  ENABLE_HEALTHCHECK_AUTHORIZATION: "false"
  ENABLE_HEALTHCHECK_SECRET_MANAGER: "false"
  ENABLE_HEALTHCHECK_MODEL_MESH: "false"

  PYTHONUNBUFFERED: "1"

  # Custom user variables
{% for item in extra_settings | default([]) %}
  {{ item.setting | upper }}: "{{ item.value }}"
{% endfor %}
