# WCA Secret.
---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ ansible_operator_meta.name }}-wca-configuration'
  namespace: '{{ ansible_operator_meta.namespace }}'
  labels:
    app.kubernetes.io/name: '{{ ansible_operator_meta.name }}'
    app.kubernetes.io/part-of: '{{ ansible_operator_meta.name }}'
    app.kubernetes.io/managed-by: '{{ deployment_type }}-operator'
    app.kubernetes.io/component: '{{ deployment_type }}'
    app.kubernetes.io/operator-version: '{{ lookup("env", "OPERATOR_VERSION") }}'
stringData:
  inference_url: '{{ combined_wca.inference_url }}'
  model_mesh_api_key: '{{ combined_wca.model_mesh_api_key }}'
  model_mesh_model_name: '{{ combined_wca.model_mesh_model_name }}'
  health_check_api_key: '{{ combined_wca.health_check_api_key }}'
  health_check_model_name: '{{ combined_wca.health_check_model_name }}'
