name: "Common build and publish related jobs"

on:
  workflow_call:
    outputs:
      latest_ai_connect_version:
        description: "The latest published version of ansible-ai-connect-service"
        value: ${{ jobs.initialise.outputs.latest_ai_connect_version }}
      latest_tag:
        description: "The _latest_ semver version"
        value: ${{ jobs.initialise.outputs.latest_tag }}
      next_tag:
        description: "The _next_ semver version"
        value: ${{ jobs.initialise.outputs.next_tag }}

jobs:
  initialise:
    runs-on: ubuntu-latest

    outputs:
      latest_ai_connect_version: ${{ steps.latest_ai_connect_version.outputs.latest_ai_connect_version }}
      latest_tag: ${{ steps.set_output_parameters.outputs.latest_tag }}
      next_tag: ${{ steps.set_output_parameters.outputs.next_tag }}

    steps:
      # ===============================
      # Checkout code to get tags
      # -------------------------------
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      # ===============================

      # ===============================
      # Construct next version
      # -------------------------------
      # Read the latest semver tag
      - name: Get latest tag
        id: latest_tag
        uses: WyriHaximus/github-action-get-previous-tag@v1
        with:
          fallback: 0.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Increment the latest semver tag for release builds
      - name: Read semver version
        id: next_tag
        uses: WyriHaximus/github-action-next-semvers@v1
        with:
          version: ${{ steps.latest_tag.outputs.tag }}

      # Export parameters
      - name: Set output parameters
        id: set_output_parameters
        run: |
          echo "latest_tag=${{ steps.latest_tag.outputs.tag }}" >> $GITHUB_OUTPUT
          echo "next_tag=${{ steps.next_tag.outputs.minor }}" >> $GITHUB_OUTPUT
      # ===============================

      # ===============================
      # Read the latest ai-connect version
      # -------------------------------
      - name: Get latest ai-connect version
        id: latest_ai_connect_version
        run: |
          echo "latest_ai_connect_version=$(jq .ansible_ai_connect_service.imageTag version_info.json)" >> $GITHUB_OUTPUT
      # ===============================
